<div id="top-header">
    <img id="header-logo" src="images/header-logo.png">
    <nav>
        <div id="film-search">
            <i data-icon="search" focus-autocomplete-input></i>
            <input id="film-search-input" placeholder="Buscar" ng-keyup="updateSearch($event.keyCode, searchString)"
                   ng-model="searchString" ng-focus="hasFocus(true)" ng-blur="hasFocus(false)">
            <div id="film-search-dropdown" ng-show="isDropdownVisible()">
                <div class="film-search-row" ng-show="searchFilms.length === 0 && !searching">
                    <p class="title">No se encontraron resultados</p>
                </div>
                <div class="film-search-row" ng-show="searching">
                    <p class="title">Buscando...</p>
                </div>
                <div class="film-search-row" ng-repeat="film in searchFilms" ng-mousedown="showFilm(film.id)"
                     ng-class="{selected: $index == selectedFilm}">
                    <img ng-src="http://api.myclapboard.com/uploads/images/{{ film.images[0].name }}"/>
                    <p class="title">{{ film.title }}</p>
                    <p class="year">{{ film.year }}</p>
                </div>
            </div>
        </div>
        <span>Link 1</span>
        <span>Link 2</span>
        <span>Link 3</span>
        <span>Link 4</span>
    </nav>
</div>
<div id="header-image">
    <div class="overlay"></div>
    <div class="info-container">
        <h3>Gravity</h3>

        <div class="actions">
            <a href="#/film/123/info"><i data-icon="file"></i></a>
            <a href="#/film/123/comments"><i data-icon="ranking"></i>4.5</a>
            <a href="#/film/123/multimedia"><i data-icon="play"></i></a>
        </div>
    </div>
</div>