<section>
    <h2>Ultimas películas</h2>
    <div class="poster-container">
        <div class="poster" ng-repeat="film in lastest">
            <img src="images/poster1.jpg"/>
            <div class="poster-overlay">
                <div class="info">
                    <p>{{ film.title }}</p>
                    <p class="subtitle">{{ film.year }} | {{ film.length }} mins</p>
                    <p class="subtitle">{{ film.director }}</p>
                    <p class="description">{{ film.description }}</p>
                </div>
                <div class="actions">
                    <a href="#/film/123/comments"><i data-icon="ranking"></i>4.5</a>
                    <a href="#/film/123/multimedia"><i data-icon="play"></i></a>
                    <a href="#/film/123/info"><i data-icon="file"></i></a>
                </div>
            </div>
        </div>
    </div>
</section>
<section>
    <h2>Top películas</h2>
    <div class="poster-container">
        <div class="poster" ng-repeat="film in lastest">
            <img src="images/poster1.jpg"/>
            <div class="poster-overlay">
                <div class="info">
                    <p>{{ film.title }}</p>
                    <p class="subtitle">{{ film.year }} | {{ film.length }} mins</p>
                    <p class="subtitle">{{ film.director }}</p>
                    <p class="description">{{ film.description }}</p>
                </div>
                <div class="actions">
                    <a href="#/film/123/comments"><i data-icon="ranking"></i>4.5</a>
                    <a href="#/film/123/multimedia"><i data-icon="play"></i></a>
                    <a href="#/film/123/info"><i data-icon="file"></i></a>
                </div>
            </div>
        </div>
    </div>
</section>