<section>
    <h2>Ultimas películas</h2>
    <div class="poster-container">
        <div class="poster" ng-repeat="film in lastest">
            <img ng-src="http://api.myclapboard.com/uploads/images/{{ film.images[0].name }}"/>
            <div class="poster-overlay">
                <div class="info">
                    <p>{{ film.title }}</p>
                    <p class="subtitle">{{ film.release_date | date:'yyyy' }} | {{ film.duration }} mins</p>
                    <p class="subtitle">
                        <a ng-repeat="director in film.directors">
                            {{ director.artist.first_name }} {{ director.artist.last_name }}
                        </a>
                    </p>
                    <p class="description">{{ film.storyline }}</p>
                </div>
                <div class="actions">
                    <a ng-href="#/film/{{ film.id }}"><i data-icon="file"></i></a>
                    <a ng-href="#/film/{{ film.id }}"><i data-icon="ranking"></i>4.5</a>
                    <a ng-href="#/film/{{ film.id }}"><i data-icon="play"></i></a>
                </div>
            </div>
        </div>
    </div>
</section>
<section>
    <h2>Top películas</h2>
    <div class="poster-container">
        <div class="poster" ng-repeat="film in lastest">
            <img ng-src="http://api.myclapboard.com/uploads/images/{{ film.images[0].name }}"/>
            <div class="poster-overlay">
                <div class="info">
                    <p>{{ film.title }}</p>
                    <p class="subtitle">{{ film.release_date | date:'yyyy' }} | {{ film.duration }} mins</p>
                    <p class="subtitle">
                        <a ng-repeat="director in film.directors">
                            {{ director.artist.first_name }} {{ director.artist.last_name }}
                        </a>
                    </p>
                    <p class="description">{{ film.storyline }}</p>
                </div>
                <div class="actions">
                    <a ng-href="#/film/{{ film.id }}"><i data-icon="file"></i></a>
                    <a ng-href="#/film/{{ film.id }}"><i data-icon="ranking"></i>4.5</a>
                    <a ng-href="#/film/{{ film.id }}"><i data-icon="play"></i></a>
                </div>
            </div>
        </div>
    </div>
</section>